*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

h1,
h2,
h3 {
  font-family: var(--font-family-heading);
  font-weight: 700;
  margin-bottom: 1rem;
}

h1 {
  font-size: 3.25rem;
}

h2 {
  font-size: 2.5rem;
}

h3 {
  font-size: 2rem;
}

ul[role='list'],
ol[role='list'] {
  list-style: none;
}

html {
  font-size: 16px;

  &:focus-within {
    scroll-behavior: smooth;
  }
}

body {
  background: var(--colors-background);
  color: var(--colors-text);
  font-family: var(--font-family-base);
  font-feature-settings: 'kern';
  font-size: var(--font-size-md);
  font-weight: 400;
  line-height: 1.56;
  min-height: 100%;
  padding: 0;
  position: relative;
  text-rendering: optimizeSpeed;
}

a {
  color: var(--colors-link);
  text-decoration: none;
  transition-property: var(--transition-property-colors);
  transition-duration: var(--transition-duration-slow);

  &:hover {
    color: var(--colors-link-hover);
  }

  &.--external {
    &::after {
      content: '↗︎';
      font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans',
        'Helvetica Neue', sans-serif;
      font-size: 80%;
      padding-left: 5px;
      position: relative;
    }
  }
}

a:not([class]) {
  text-decoration-skip-ink: auto;
}

p {
  font-size: var(--font-size-md);
  margin-bottom: 1rem;
}

img,
picture {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
