@import "./variables";
@import "./media";
@import "./reset";
@import "./errors";

*::selection {
  background: var(--colors-selection);
  color: var(--colors-foreground);
}

hr {
  border: 0;
  border-bottom: 1px solid var(--colors-selection);
  margin: 2rem 0;
}

.container {
  max-width: $container-size;
  margin-left: auto;
  margin-right: auto;
  padding-right: 20px;
  padding-left: 20px;

  &.--small {
    max-width: $container-small-size;
  }
}

.mdContent {
  padding-bottom: 40px;
  margin-bottom: 20px;

  a {
    border-bottom: 1px solid var(--colors-link);

    &::after {
      content: "↗︎";
      font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
      font-size: 80%;
      padding-left: 5px;
      position: relative;
    }
  }
}

@import "./components/loading";
@import "./components/header";
@import "./components/easteregg";
@import "./components/page-menu";
