@import './variables';
@import './media';

// components
@import './components/avatar';
@import './components/social-links';
@import './components/page-header';

.page {
  &__inner {
    flex-direction: column;

    @include media(min-width $desktop) {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }
  }

  &__sidebar {
    @include media(min-width $desktop) {
      flex: 0 0 30%;
    }
  }

  &__content {
    @include media(min-width $desktop) {
      flex: 0 0 65%;
    }
  }
}
