/*
 Usage

.container {
  width: 1200px;

  @include media(min-width 480px) {
    font-size: 1.2rem;
  }

  @include media(max-width 1200px) {
    width: 700px;
  }
}
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

h1,
h2,
h3 {
  font-family: var(--font-family-heading);
  font-weight: 700;
  margin-bottom: 1rem;
}

h1 {
  font-size: 3.25rem;
}

h2 {
  font-size: 2.5rem;
}

h3 {
  font-size: 2rem;
}

ul[role=list],
ol[role=list] {
  list-style: none;
}

html {
  font-size: 16px;
}
html:focus-within {
  scroll-behavior: smooth;
}

body {
  background: var(--colors-background);
  color: var(--colors-text);
  font-family: var(--font-family-base);
  font-feature-settings: "kern";
  font-size: var(--font-size-md);
  font-weight: 400;
  line-height: 1.56;
  min-height: 100%;
  padding: 0;
  position: relative;
  text-rendering: optimizeSpeed;
}

a {
  color: var(--colors-link);
  text-decoration: none;
  transition-property: var(--transition-property-colors);
  transition-duration: var(--transition-duration-slow);
}
a:hover {
  color: var(--colors-link-hover);
}

a:not([class]) {
  text-decoration-skip-ink: auto;
}

p {
  font-size: var(--font-size-lg);
  margin-bottom: 1rem;
}

img,
picture {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
*::before,
*::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
.pageErrors {
  background: url("/images/travolta.gif") no-repeat 50% 50%;
  background-size: cover;
  align-items: center;
  display: flex;
  height: 100vh;
  justify-content: center;
  text-align: center;
  width: 100%;
}
.pageErrors__inner {
  padding: 15px 30px;
}
.pageErrors__title {
  font-size: 14rem;
  font-weight: 700;
  letter-spacing: -0.4rem;
}
.pageErrors__description {
  font-size: 1.2rem;
  font-weight: 300;
  margin-bottom: 30px;
}
.pageErrors__button {
  background: var(--colors-gray-700);
  border-radius: 4px;
  color: var(--colors-white);
  display: inline-block;
  font-size: 1rem;
  font-weight: 300;
  padding: 6px 12px;
  transition-duration: var(--transition-duration-slow);
  transition-property: var(--transition-property-common);
}
.pageErrors__button:hover, .pageErrors__button:focus {
  color: var(--colors-white);
  background-color: var(--colors-gray-900);
}

.container {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-right: 20px;
  padding-left: 20px;
}
.container.--small {
  max-width: 960px;
}

.mdContent {
  padding-bottom: 40px;
  margin-bottom: 20px;
}
.mdContent a {
  border-bottom: 1px solid var(--colors-link);
}

.loading {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  background: rgba(26, 32, 44, 0.95);
  z-index: 100;
}
.loading div {
  display: inline-block;
  position: relative;
  width: 58px;
  height: 58px;
  margin: 15px auto 0;
}
.loading span {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 25px;
  height: 25px;
  margin: 4px;
  border: 4px solid #fff;
  border-radius: 50%;
  animation: loading 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #fff transparent transparent transparent;
}
.loading span:nth-child(1) {
  animation-delay: -0.45s;
}
.loading span:nth-child(2) {
  animation-delay: -0.3s;
}
.loading span:nth-child(3) {
  animation-delay: -0.15s;
}

@keyframes loading {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.header {
  background: var(--colors-gray-800);
  border-bottom: 2px solid var(--colors-gray-700);
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.04);
  min-height: 60px;
  padding: 0 30px;
  width: 100%;
}
@media screen and (min-width: 561px) {
  .header {
    margin-bottom: 20px;
    left: 0;
    right: 0;
    top: 0;
    position: fixed;
    z-index: 99;
  }
}
.header__inner {
  text-align: center;
  width: 100%;
}
@media screen and (min-width: 561px) {
  .header__inner {
    align-items: center;
    display: flex;
    justify-content: space-between;
  }
}
.header__logo {
  color: var(--colors-white);
  display: inline-block;
  font-size: 1.42rem;
  font-weight: 700;
  line-height: 1.33;
  margin: 10px 0;
  transition-duration: var(--transition-duration-slow);
  transition-property: var(--transition-property-common);
}
@media screen and (min-width: 561px) {
  .header__logo {
    align-items: center;
    display: flex;
  }
}
.header__logo span {
  color: var(--colors-primary);
}
.header__logo:hover {
  color: var(--colors-primary);
}
.header__logo:hover span {
  color: var(--colors-white);
}
.header__logo:hover::before {
  transform: translateX(5px);
}
.header__logo:hover::after {
  transform: translateX(-5px);
}
.header__logo::before, .header__logo::after {
  display: inline-block;
  color: var(--colors-white);
  vertical-align: middle;
  transition-property: var(--transition-property-common);
  transition-duration: var(--transition-duration-slow);
  position: relative;
}
.header__logo::before {
  content: "{";
  margin-right: 10px;
}
.header__logo::after {
  content: "}";
  margin-left: 10px;
}
@media screen and (min-width: 561px) {
  .header__logo {
    margin: 0;
  }
}

.pageMenu {
  display: block;
  min-height: 60px;
  list-style: none;
  padding: 10px 0;
  width: 100%;
}
@media screen and (min-width: 561px) {
  .pageMenu {
    align-items: center;
    display: flex;
    justify-content: flex-end;
  }
}
.pageMenu__link {
  display: inline-block;
  padding: 8px 12px;
  margin: 0 5px;
  border-radius: 4px;
  transition-property: var(--transition-property-common);
  transition-duration: var(--transition-duration-slow);
}
.pageMenu__link[aria-current=page], .pageMenu__link.active, .pageMenu__link:hover, .pageMenu__link:focus {
  background-color: var(--colors-whiteAlpha-200);
  color: var(--colors-white);
}

/*# sourceMappingURL=data:application/json;charset=utf-8,%7B%22version%22:3,%22sourceRoot%22:%22%22,%22sources%22:%5B%22../sass/_media.scss%22,%22../sass/_reset.scss%22,%22../sass/_errors.scss%22,%22../sass/globals.scss%22,%22../sass/_variables.scss%22,%22../sass/components/_loading.scss%22,%22../sass/components/_header.scss%22,%22../sass/components/_page-menu.scss%22%5D,%22names%22:%5B%5D,%22mappings%22:%22AAAA;AAAA;;AAAA;AAAA;;AAAA;AAAA;AAAA;;AAAA;AAAA;AAAA;AAAA;AAAA;ACAA;AAAA;AAAA;EAGE;;;AAGF;AAAA;AAAA;AAAA;AAAA;AAAA;AAAA;AAAA;AAAA;AAAA;EAUE;;;AAGF;AAAA;AAAA;EAGE;EACA;EACA;;;AAGF;EACE;;;AAGF;EACE;;;AAGF;EACE;;;AAGF;AAAA;EAEE;;;AAGF;EACE;;AAEA;EACE;;;AAIJ;EACE;EACA;EACA;EACA;EACA;EACA;EACA;EACA;EACA;EACA;EACA;;;AAGF;EACE;EACA;EACA;EACA;;AAEA;EACE;;;AAIJ;EACE;;;AAGF;EACE;EACA;;;AAGF;AAAA;EAEE;EACA;;;AAGF;AAAA;AAAA;AAAA;EAIE;;;AAGF;EACE;IACE;;;EAGF;AAAA;AAAA;IAGE;IACA;IACA;IACA;;;AC9GJ;EACE;EACA;EACA;EACA;EACA;EACA;EACA;EACA;;AAEA;EACE;;AAGF;EACE;EACA;EACA;;AAGF;EACE;EACA;EACA;;AAGF;EACE;EACA;EACA;EACA;EACA;EACA;EACA;EACA;EACA;;AAEA;EAEE;EACA;;;ACnCN;EACE,WCmCe;EDlCf;EACA;EACA;EACA;;AAEA;EACE,WC6BmB;;;ADzBvB;EACE;EACA;;AAEA;EACE;;;AEtBJ;EACE;EACA;EACA;EACA;EACA;EACA;EACA;EACA;EACA;EACA;EACA;;AAEA;EACE;EACA;EACA;EACA;EACA;;AAGF;EACE;EACA;EACA;EACA;EACA;EACA;EACA;EACA;EACA;EACA;;AAEA;EACE;;AAGF;EACE;;AAGF;EACE;;;AAKN;EACE;IACE;;EAEF;IACE;;;ACpDJ;EACE;EACA;EACA;EACA;EACA;EACA;;ANsCE;EM5CJ;IASI;IACA;IACA;IACA;IACA;IACA;;;AAGF;EACE;EACA;;ANyBA;EM3BF;IAKI;IACA;IACA;;;AAIJ;EACE;EACA;EACA;EACA;EACA;EACA;EACA;EACA;;ANQA;EMhBF;IAWI;IACA;;;AAGF;EACE;;AAGF;EACE;;AAEA;EACE;;AAGF;EACE;;AAEF;EACE;;AAIJ;EAEE;EACA;EACA;EACA;EACA;EACA;;AAGF;EACE;EACA;;AAGF;EACE;EACA;;ANnCF;EMhBF;IAuDI;;;;ACnFN;EACE;EACA;EACA;EACA;EACA;;APuCE;EO5CJ;IAQI;IACA;IACA;;;AAGF;EACE;EACA;EACA;EACA;EACA;EACA;;AAEA;EAIE;EACA%22,%22file%22:%22globals.css%22%7D */
