/*
 Usage

.container {
  width: 1200px;

  @include media(min-width 480px) {
    font-size: 1.2rem;
  }

  @include media(max-width 1200px) {
    width: 700px;
  }
}
*/
.avatar {
  display: inline-block;
  padding: 4px;
  margin: 15px auto;
}
@media screen and (min-width: 769px) {
  .avatar {
    margin-right: 3rem;
    display: flex;
  }
}
.avatar__image {
  height: 100%;
  object-fit: cover;
  width: 100%;
}
.avatar.--square, .avatar.--square img {
  border-radius: 4px;
}
.avatar.--circle {
  border: 2px solid var(--colors-gray-300);
}
.avatar.--circle, .avatar.--circle img {
  border-radius: 999px;
}

.hero {
  width: 100%;
}
.hero__inner {
  padding-top: 30px;
  padding-bottom: 30px;
  text-align: center;
  min-height: 100%;
}
@media screen and (min-width: 769px) {
  .hero__inner {
    align-items: center;
    display: flex;
    justify-content: center;
    min-height: calc(100vh - 60px);
    padding: 30px 0;
    text-align: left;
  }
}
.hero__content h3 {
  color: var(--colors-primary);
  font-size: 1.2rem;
  letter-spacing: -0.025em;
  line-height: 1.33;
  margin-bottom: 0.75rem;
  text-transform: uppercase;
}
.hero__content h3 strong {
  color: var(--colors-white);
}
.hero__content h1 {
  font-size: 2rem;
  letter-spacing: -0.025em;
  line-height: 1.4;
}
.hero__content h1 strong {
  color: var(--colors-primary);
}

.socialLinks {
  display: inline-block;
  list-style: none;
  margin: 10px auto;
  padding: 0;
  max-width: 320px;
}
@media screen and (min-width: 769px) {
  .socialLinks {
    margin: 10px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}
.socialLinks__item {
  display: inline-block;
}
.socialLinks__link {
  transition-property: var(--transition-property-common);
  transition-duration: var(--transition-duration-fast);
  text-decoration: none;
  display: inline-block;
  display: flex;
  padding: 6px;
  align-items: center;
  opacity: 0.8;
}
.socialLinks__link svg {
  transition-property: var(--transition-property-common);
  transition-duration: var(--transition-duration-fast);
}
.socialLinks__link svg:hover, .socialLinks__link svg:focus {
  transform: rotate(20deg);
}

.pageHeader {
  overflow: hidden;
  padding: 60px 0 0;
  position: relative;
  min-height: 240px;
  margin-bottom: 2rem;
  display: block;
}
@media screen and (min-width: 561px) {
  .pageHeader {
    align-items: center;
    display: flex;
    min-height: 300px;
  }
}
.pageHeader__inner {
  width: 100%;
  position: relative;
  z-index: 2;
}
.pageHeader__title {
  color: var(--colors-gray-300);
  font-size: 1rem;
  letter-spacing: -0.025em;
  line-height: 1.33;
  margin-bottom: 0.75rem;
  text-transform: uppercase;
}
@media screen and (min-width: 769px) {
  .pageHeader__title {
    font-size: 1.2rem;
  }
}
.pageHeader__description {
  font-family: var(--font-family-heading);
  font-size: 2rem;
  font-weight: 700;
  letter-spacing: -0.025em;
  line-height: 1;
  margin-bottom: 1rem;
}
@media screen and (min-width: 769px) {
  .pageHeader__description {
    font-size: 3rem;
  }
}
.pageHeader__image {
  bottom: 0;
  height: 100%;
  left: 0;
  opacity: 0.2;
  pointer-events: none;
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
  z-index: 1;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
}

/*# sourceMappingURL=data:application/json;charset=utf-8,%7B%22version%22:3,%22sourceRoot%22:%22%22,%22sources%22:%5B%22../sass/_media.scss%22,%22../sass/components/_avatar.scss%22,%22../sass/components/_hero.scss%22,%22../sass/components/_social-links.scss%22,%22../sass/components/_page-header.scss%22%5D,%22names%22:%5B%5D,%22mappings%22:%22AAAA;AAAA;;AAAA;AAAA;;AAAA;AAAA;AAAA;;AAAA;AAAA;AAAA;AAAA;AAAA;ACAA;EACE;EACA;EACA;;ADyCE;EC5CJ;IAMI;IACA;;;AAGF;EACE;EACA;EACA;;AAIA;EACE;;AAIJ;EACE;;AAEA;EACE;;;AC1BN;EACE;;AAEA;EACE;EACA;EACA;EACA;;AFqCA;EEzCF;IAOI;IACA;IACA;IACA;IACA;IACA;;;AAKF;EACE;EACA;EACA;EACA;EACA;EACA;;AAEA;EACE;;AAIJ;EACE;EACA;EACA;;AAEA;EACE;;;ACvCR;EACE;EACA;EACA;EACA;EACA;;AHuCE;EG5CJ;IAQI;IACA;IACA;IACA;;;AAGF;EACE;;AAGF;EACE;EACA;EACA;EACA;EACA;EACA;EACA;EACA;;AAEA;EACE;EACA;;AAEA;EAEE;;;AClCR;EACE;EACA;EACA;EACA;EACA;EACA;;AJsCE;EI5CJ;IASI;IACA;IACA;;;AAGF;EACE;EACA;EACA;;AAGF;EACE;EACA;EACA;EACA;EACA;EACA;;AJkBA;EIxBF;IASI;;;AAIJ;EACE;EACA;EACA;EACA;EACA;EACA;;AJKA;EIXF;IASI;;;AAIJ;EACE;EACA;EACA;EACA;EACA;EACA;EACA;EACA;EACA;EACA;EACA;EACA;EACA%22,%22file%22:%22home.css%22%7D */
