.avatar {
  display: inline-block;
  padding: 4px;
  margin: 15px auto;
  width: 100%;

  @include media(min-width $desktop) {
    margin: 0 3rem 0 0;
    display: flex;
  }

  &__image {
    height: auto;
    object-fit: cover;
    width: 100%;
    display: block;
  }

  &.--square {
    &,
    img {
      border-radius: 4px;
    }
  }

  &.--circle {
    border: 2px solid var(--colors-gray-300);

    &,
    img {
      border-radius: 999px;
    }
  }
}
